@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SafeHouse</h1>
    <p class="lead">Save space for all misunderstood villains.</p>
    <p><a href="" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join US</h2>
        <p>
            SafeHouse provides all its members with benefits in exchange for their services.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more friends</h2>
        <p>Find you soul-villain-mate. We all feel you.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>